@{
    ViewData["Title"] = "Home Page";
    ViewData["BusinessName"] = "Pet Spa & Shop";
}

<main class="">
    <!-- Appointment -->
    <section id="hero" class="mt-3 mb-5 section-width d-flex">
        <div class="row mx-auto center">
            <img src="~/assets/thumbnails/dog-and-cat-together-cute-pets-isolated-banner-with-copy-space-generative-ai-photo.jpg" alt="Pet Spa" class="img-fluid rounded col" />
            <div class="col">
                <h2>Cho thú cưng bạn 1 buổi nghỉ dưỡng</h2>
                <p class="lead">lorem sisum .</p>
                <a class="btn btn-primary text-center" asp-controller="Appointments" asp-action="Information">Đặt Lịch Hẹn</a>
            </div>
        </div>
    </section>
    <hr />
    <!-- Service -->
    <section id="serivces" class="section-width mt-2 mb-3">
        <div class="mx-auto text-center">
            <h2 class="mb-2">Dịch Vụ Của Chúng Tôi</h2>
            <table class="mt-3 center">
                <tr>
                    <td>
                        <img src="https://placehold.co/480x160" alt="Service 1" class="img-fluid rounded" />
                    </td>
                    <td>
                        <img src="https://placehold.co/480x160" alt="Service 2" class="img-fluid rounded" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://placehold.co/480x160" alt="Service 3" class="img-fluid rounded" />
                    </td>
                    <td>
                        <img src="https://placehold.co/480x160" alt="Service 4" class="img-fluid rounded" />
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <!-- Policys -->
    <section id="policy" class="section-width mt-3 mb-3">
        <div class="mx-auto text-center">
            <h2 class="mb-2">Lý do chọn PETSS</h2>
            <table class="mt-3 center">
                <tr>
                    <td rowspan="2">
                        <img src="https://placehold.co/200x320" alt="Policy 1" class="img-fluid rounded" />
                    </td>
                    <td>
                        <img src="https://placehold.co/320x160" alt="Policy 2" class="img-fluid rounded" />
                    </td>
                    <td>
                        <img src="https://placehold.co/320x160" alt="Policy 3" class="img-fluid rounded" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="https://placehold.co/640x160" alt="Policy 4" class="img-fluid rounded" />
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <hr />
    <!-- Caroursel -->
    <section id="caroursel" class="section-width mt-3">
        <div class="row mx-auto center">
            <div class="col-auto">
                <img src="https://placehold.co/200x200" alt="Item" class="img-fluid rounded" />
            </div>
            <div class="col-auto">
                <img src="https://placehold.co/200x200" alt="Item" class="img-fluid rounded" />
            </div>
            <div class="col-auto">
                <img src="https://placehold.co/200x200" alt="Item" class="img-fluid rounded" />
            </div>
            <div class="col-auto">
                <img src="https://placehold.co/200x200" alt="Item" class="img-fluid rounded" />
            </div>
            <div class="col-auto">
                <img src="https://placehold.co/200x200" alt="Item" class="img-fluid rounded" />
            </div>
        </div>
    </section>
</main>

