@{
    ViewData["Title"] = "Home Page";
    ViewData["BusinessName"] = "Pet Spa & Shop";
}

<main class="container">
    <!-- Appointment -->
    <section class="mb-5 section-width d-flex">
        <div class="">
            <div class="mx-auto text-center">
                <h2>Give Your Pets A Day Care</h2>
                <img src="~/assets/thumbnails/dog-and-cat-together-cute-pets-isolated-banner-with-copy-space-generative-ai-photo.jpg" alt="Pet Spa" class="img-fluid rounded" />
                <p class="lead">We believe every pet deserves the royal treatment. Our expert groomers and state-of-the-art facilities ensure your furry friends receive the best care possible.</p>
            </div>
            <a class="btn btn-primary text-center" asp-controller="Appointments" asp-action="Information" >Đặt Lịch Hẹn</a>
        </div>
    </section>
</main>

