@{
    Layout = "Admin/_LayoutAdmin";
}
<h1>Dashboard</h1>
<hr />
<div class="" id="quick-action">
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary btn-lg" asp-controller="DonHang" asp-action="Create">Thêm Sản Phẩm</a>
        <a class="btn btn-primary btn-lg" asp-controller="KhachHang" asp-action="Create">Thêm Khách Hàng</a>
        <a class="btn btn-primary btn-lg" asp-controller="NhanVien" asp-action="Create">Thêm Nhân Viên</a>
    </div>
    <div class="" id="dashboard">
    </div>
</div>
